@import "tailwindcss";

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
  /* overflow: hidden; */
}

/* IE / Edge Legacy */
* {
  -ms-overflow-style: none;
}
